.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #000000;
    min-height: 80vh;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.button-container {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    background-color: #e0e0e0;
    border: none;
}

.bottom-button {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    margin : 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}