.input-body {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 2rem; 
  margin-bottom: 10px;
  position: relative;
  font-weight: bold;
}

.options {
  position: absolute; 
  top: 100%; 
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border: none;
}

.options.show {
  max-height: 300px; 
}

.options button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.options button:hover {
  background-color: #f0f0f0;
}

.result_button {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px;
}

.bmr-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom : 10px;
  transition: background-color 0.3s, transform 0.2s;
} 
.bmr-button:hover {
  background-color: #218838;
      cursor: pointer;
}

